matplotlib==2.1.0
librosa
tqdm
jiwer
pandas
numpy
inflect==0.2.5
bz2file
flask
future
gevent
google-api-python-client
gunicorn
gym
h5py
oauth2client
requests
scipy
sympy
six
unidecode
nltk
soundfile
subword-nmt